syntax: glob
bin/**
Bin/**
src/*/obj/**
tests/bin/**
tests/obj/**
*.dll
*.pdb
*.user
*.cache
*.suo
*.DotSettings
*.filelistabsolute.txt
*.docstates
obj/**
_ReSharper.*
*.orig
dist/**
pkg/*/**
*.nupkg
PrecompiledWeb
elmah.xml
Elmah.xml
samples/Demo/Mails/*
samples/Demo/App_Data/*
samples/Demo/Web.config
packages/**
